<h1>Editing trip feature</h1>

<%= render "form", trip_feature: @trip_feature %>

<br>

<div>
  <%= link_to "Show this trip feature", @trip_feature %> |
  <%= link_to "Back to trip features", trip_features_path %>
</div>
