<div id="<%= dom_id friend %>">
  <p>
    <strong>Request sender:</strong>
    <%= friend.request_sender_id %>
  </p>

  <p>
    <strong>Request receiver:</strong>
    <%= friend.request_receiver_id %>
  </p>

</div>
