<h1>Editing user preference</h1>

<%= render "form", user_preference: @user_preference %>

<br>

<div>
  <%= link_to "Show this user preference", @user_preference %> |
  <%= link_to "Back to user preferences", user_preferences_path %>
</div>
