<p style="color: green"><%= notice %></p>

<h1>User preferences</h1>

<div id="user_preferences">
  <% @user_preferences.each do |user_preference| %>
    <%= render user_preference %>
    <p>
      <%= link_to "Show this user preference", user_preference %>
    </p>
  <% end %>
</div>

<%= link_to "New user preference", new_user_preference_path %>
